body{
    background-color: #DDEEEE;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;



}
h1{
    background-color:#005588;
    color: #DDEEEE;
    border: #002255;
    display: flex;
    justify-content: center;
    align-items: center;

}
#grille{


    display: flex;
    align-items: center;
    justify-content: center;

}
td{
    border: 1px solid #000;
    width: 60px;
    height: 60px;
    text-align: center;
}
table{
    border-collapse: collapse;
    width: 300px;
    height: 300px;
    background-color: #BBDDDD;
}
p{
    text-align: center;
}
button{
    position: absolute;
    top: 45%;
    left: 45%;



}