body{
    background-color: #DDEEEE;
    font-family: Arial, sans-serif;
    text-align: center;




}
h1{
    background-color:#005588;
    color: #DDEEEE;
    border: 3px solid #002255;
    display: flex;
    margin: 30px 0 15px;
    padding: 10px 22px ;
    justify-content: center;

}
#grille{

    background-color: #BBDDDD;
    display: inline-block;
    margin: 40px 0 15px;

}
#grille td{
    border: 2px solid #002255;
    width: 70px;
    height: 70px;
    text-align: center;
    vertical-align: middle;
    font-size: 22px;
    font-weight: bold;

}
#grille table{
    border-collapse: collapse;
    width: 450px;
    height: 450px;
}

button{
    cursor: pointer;
    padding: 8px 14px;
    font-size: 16px;
}
p{
    margin: 12px 0;
    font-size: 18px;
}